body {
  background-color: black;
  text-align: center;
}

.linkdescarga {
  color: Aquamarine;
  font-size: 16px;
  font-family: Verdana;
  font-weight: normal;
  text-decoration: underline;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

footer {
  padding-top: 100px;
}

.imagen {
  padding: 20px 0px;
}

footer p{
  text-align: right;
  font-family: Verdana;
  color: Grey;
}

body h2 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

body h3 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 21px;
  color: Grey;
}
